.h1contacte {
    font-weight: 300;
    font-size: 60;
    line-height: 1.2;
    margin-bottom: 15px;
}
.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black no-repeat center center/cover;
}
.video-container video {
    min-width: 100;
    min-height: 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);

}
.content {
    z-index: 0;
    margin-bottom: 150px;
}
.btncontacte {
    display: inline-block;
    padding: 10px 30px;
    background: #3a4052;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}
.btncontacte:hover {
    transform: scale(0.98);
}
#map { 
    height: 430px;
    width: 90%;
    margin-bottom: 50px;
    margin-left: 5%;
}
#mapa {
    background-color: white;
}
.cajamapa {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajamapa h1 {
    color: black;
    font-size: 3em;
}
.cajamapa h2 {
    color: black;
    font-size: 2.3em;
}
.ubicans {
    width: 40%;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.footer {
    background-color: #403c54;
    height: 150px;
    color: white;
}
.contenidofooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.segueixnoscontacte {
    margin-top: 3%;
    width: 40%;
    text-align: center;
}
.iconoscontacte {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.iconoscontacte i {
    font-size: 1.5em;
}
