
// Body
$body-bg: #f8fafc;
 
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
<<<<<<< HEAD

=======
 
>>>>>>> a7559ad133f0c194bd8d530cd590d04f6d56d6ea
.bg-colorp{
    background-color: #4B8AA3;
}
.bg-colors{
    background-color: #4B8AA3;
}
<<<<<<< HEAD


=======
>>>>>>> a7559ad133f0c194bd8d530cd590d04f6d56d6ea
