// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.cont333{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-2 > li{        
    padding: 5px;
    margin-top: 10px;
}

.p-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cosas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerrr{
    display: flex;
    justify-content: space-between;
}
   
